<h1>Bem vindo ao Iron Pets! Faça seu login e aproveite nossos incríveis serviços</h1>

<form action="/login" method="post">
<div>
    <input type="email" name="userEmail" placeholder="Digite seu email">
    {{#if userEmailError}}
        <span>{{userEmailError}}</span>
    {{/if}}
</div>
<div>
    <input type="password" name="userPassword" placeholder="Digite sua senha">
    {{#if userPasswordError}}
        <span>{{userPasswordError}}</span>
    {{/if}}
</div>
<button type="submit">Efetuar login</button>
</form>