<div>
    {{!-- Este formulário é de cadastro, e não de busca, por isso usamos o método POST --}}
    <form action="/pets/new" method="post" enctype="multipart/form-data">
        <input type="text" name="petName" placeholder="Nome do Pet">
        <input type="file" name="petImage" placeholder="Link da foto do Pet">
        <select name="petSpecies">
            <option value="dog">Cachorro</option>
            <option value="cat">Gato</option>
            <option value="parrot">Papagaio</option>
        </select>
        <input type="date" name="petBirthDate">
        <button type="submit">Cadastrar pet</button>
    </form>
</div>